<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src=" https://unpkg.com/vue"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <title>TO DO LIST</title>
    <style media="screen">
        #app{
            max-width: 500px;
            margin: auto;
        }

        #app h1{
            text-align: center;
        }

        #app input{
          box-sizing: border-box;
            width: 100%;
            padding: 12px 20px;
            border-radius: 50px;
            border: 1px solid #ccc;
            outline: none;
        }
    </style>
  </head>
  <body>
    <div id="app" >
        <h1>TO DO LIST</h1>
        <div class="input_wrap" >
            <!-- <my-select></my-select> -->
            <input type="text" @keyup.enter="addList" placeholder="일정을 입력하세요">
        </div>
        <ul>
            <my-list :list-data="value" v-for="(value, key, index) in list" :idx="index" @tg-toggle="toggle" :key="index">
                <my-list-child :lv2-data="val" v-for="(val, key, index) in value" slot="child"></my-list-child>
            </my-list>
        </ul>
    </div>
  </body>
  <script src="bin/app.bundle.js"></script>
</html>
